<html lang="en" th:replace="~{base :: parent(~{::#section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div id="section">
       
        <center >
           
            <!-- <h1>No Product Found</h1> -->
            <img class="mt-5" src="../img/pnf.jpg">
            
            <!-- <h2 class="text-4xl font-extrabold text-gray-500">No Result Found...</h2> -->
        </center>
        
        
        </div>
</body>
</html>